* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas: "header-logo header-nav header-btn_social" ". header-text  .";
  grid-template-rows: 2.1fr 11fr;
  grid-column-gap: 15px;
  min-height: 710px;
  align-items: center;
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.header-logo {
  grid-area: header-logo;
  font-family: "Tahu!", sans-serif;
  font-size: 60px;
  text-decoration: none;
  color: black;
  justify-self: center;
  z-index: 10;
}
.header-nav {
  grid-area: header-nav;
  display: grid;
  grid-template-columns: repeat(5, 120px);
  z-index: 10;
}
.header-nav a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  line-height: 30px;
  height: 30px;
}
.header-nav a:hover {
  background-color: #ff3c2d;
  color: white;
  transition: all 0.5s ease-out;
}
.header-btn__social {
  grid-area: header-btn_social;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  z-index: 10;
}
.header-text {
  grid-area: header-text;
  margin-left: -200px;
}
.header-title {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  color: white;
  width: 800px;
}
.header-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  color: white;
  margin-top: 30px;
}

.white__box-top {
  position: absolute;
  top: 0;
  background-color: white;
  height: 100px;
  width: 100%;
}

.white__box-bottom {
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 100px;
  width: 100%;
}

.header-btn-top {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #ff3c2d;
  border: none;
  border-radius: 3px;
  color: white;
  width: 120px;
  margin-right: 50px;
  cursor: pointer;
}
.header-btn-top:hover {
  background-color: black;
  transition: all 0.5s ease-out;
}

.header-btn-bottom {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: #ff3c2d;
  border: none;
  border-radius: 3px;
  color: white;
  margin-right: 50px;
  cursor: pointer;
  width: 215px;
  height: 45px;
  margin-top: 40px;
}
.header-btn-bottom:hover {
  background-color: black;
  transition: all 0.5s ease-out;
}

.header-social__link {
  text-decoration: none;
  margin: 5px 10px 0px 10px;
}

.header-social__link img {
  width: 25px;
  height: 25px;
}

.black-and-white__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.black-box, .white-box {
  display: grid;
  grid-template-rows: 1fr 0.5fr 3fr 1fr;
  justify-content: center;
  background-color: #222;
}
.black-box h3, .white-box h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}

.black-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  height: 120px;
}
.black-icon.black-icon img {
  height: 40px;
  width: 40px;
}

.black-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  margin: 30px 0px 0px 15px;
}

.one, .two, .three {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-left: -50px;
}

.number {
  font-weight: bold;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.2);
  margin-left: -50px;
}

.number-one {
  padding-left: 10px;
}

.black-box-btn {
  justify-self: center;
  width: 215px;
  height: 45px;
  background-color: #ff3c2d;
  color: white;
  border: none;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.white-box {
  background-color: #f6f6f6;
}
.white-box h3 {
  color: #222;
}

.white-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  height: 120px;
}
.white-icon.white-icon img {
  height: 60px;
  width: 60px;
}

.white-list {
  color: #222;
}

.white-text-1 {
  margin-left: 10px;
}

.white-num {
  color: rgba(0, 0, 0, 0.2);
}

.white-box-btn {
  margin-top: -100px;
}/*# sourceMappingURL=style.css.map */